# Discord configurations
VITE_DISCORD_WEBHOOK_URL=your_discord_webhook_url_here

# Firebase Configurations
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id_here
VITE_FIREBASE_DATABASE_URL=https://your_project_id.firebaseio.com

# Access PINs for Team Members
VITE_PIN_FILM=0000
VITE_PIN_HENG=0000
VITE_PIN_ICE=0000
VITE_PIN_PURIPONG=0000
